Repository adriangb/asyncpg-trek: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*|.html"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.2.0"
    hooks:
    - id: trailing-whitespace
    - id: check-yaml
    - id: pretty-format-json
      args: ["--autofix"]
    - id: check-merge-conflict
  - repo: https://github.com/pycqa/isort
    rev: "5.12.0"
    hooks:
      - id: isort
        name: isort
  - repo: https://github.com/psf/black
    rev: "22.3.0"
    hooks:
      - id: black
  - repo: local
    hooks:
    - id: lockfile
      name: check poetry.lock
      language: system
      entry: poetry lock --no-update --check
      files: ^pyproject.toml|poetry.lock$
      pass_filenames: false
    - id: flake8
      name: flake8
      language: system
      entry: poetry run flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: poetry run mypy
      types: [python]
      pass_filenames: false

Attempt at fixing CI 2
  .pre-commit-config.yaml
Due: none

Old style optional
  asyncpg_trek/asyncpg.py
Due: flake8, mypy

Bump
  poetry.lock
  pyproject.toml
Due: lockfile

DDL back at module level Typing right
  asyncpg_trek/asyncpg.py
Due: flake8, mypy

Update asyncpg_trek/asyncpg.py
  asyncpg_trek/asyncpg.py
Due: flake8, mypy

Quoting schema
  asyncpg_trek/asyncpg.py
Due: flake8, mypy

Make `schema` an optional parameter (#9)
  .pre-commit-config.yaml
  asyncpg_trek/asyncpg.py
  poetry.lock
  pyproject.toml
  tests/test_asyncpg.py
Due: lockfile, flake8, mypy

Fix index migration
  asyncpg_trek/asyncpg.py
Due: flake8, mypy

Fix index migration (#11)
  asyncpg_trek/asyncpg.py
Due: flake8, mypy

feat(backend): added aiosqlite as a new backend
  .github/workflows/workflow.yaml
  asyncpg_trek/aiosqlite.py
  poetry.lock
  pyproject.toml
  tests/test_aiosqlite.py
Due: lockfile, flake8, mypy

install extras to test
  Makefile
Due: none

bump version
  pyproject.toml
Due: lockfile

feat(backend): added aiosqlite as a new backend (#12)
  .github/workflows/workflow.yaml
  Makefile
  asyncpg_trek/aiosqlite.py
  poetry.lock
  pyproject.toml
  tests/test_aiosqlite.py
Due: lockfile, flake8, mypy

add py.typed
  asyncpg_trek/py.typed
  pyproject.toml
Due: lockfile
